<!doctype html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Manage Product | Admin</title>
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
        #main {
            background-color: rgb(153, 248, 255);
            height: 100vh;
        }
        #backbtn{
            position: fixed;
            top: 40px;
            left: 50px;
            background-color: aliceblue;
        }
    </style>
</head>

<body>
    <div class="container-fluid d-flex justify-content-center align-items-center p-4" id="main">
        <div class="container border border-dark border-3 shadow bg-white p-3">
            <h2 class="text-center">Shopaholic.com</h2>
            <h5 class="text-center fw-bold">Manage Product</h5>
            <h6 class="border-top p-3">All Products</h6>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Product Name</th>
                        <th scope="col">Quantity Left</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for prod in prod_obj %}
                    <tr class="table-primary">
                        <td><a href="/admin/manage-product/{{prod.id}}/" class="text-success">{{ prod.name|truncatechars:40 }}</a></td>
                        <td>{{ prod.quantity }}</td>
                        <td class="text-danger">₹{{ prod.price }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <a href="{% url 'adminHome' %}" class="rounded rounded-circle" id="backbtn"><img src="{% static 'images/back-button.png' %}" alt=""></a>
    <script>
        $("input").addClass("form-control mb-3");
        $("option").each(function (i, obj) {
            $(this).text($(this).text().substring(0, 65))
        })

        $("textarea").addClass("form-control mb-3");
        $("select").addClass("form-select mb-3");
        $("label").addClass("form-label fw-bold mb-1")
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>